
body {
  text-align: center;
  font-size: 16px;
}

img {
  height: 200px;
}

#lezioni {
  padding : 100px 0;
}

h2 {
  font-size: 35px;
}

#come {
  background-color: #f9f9f9;
  margin-bottom: 100px;
}

#motivo img {
  height: 260px;
  background-color: #4288ca;
  padding: 30px;
  border-radius: 50%;
  margin-top: 80px;
  margin-bottom: 20px;
}
#motivo h2 {
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {

  #come .col-md-offset-3 {
    margin-top: 30px;
  }

  hr {
    display: none;
  }

  #motivo img {
    margin-top: 30px;
  }
}

@media screen and (max-width: 767px) {

  body {
    font-size: 18px;
  }

  h3 {
    margin-bottom: 0;
  }

  img {
    height: 160px;
  }

  #lezioni {
    padding: 15px;
    background-color: #f2f2cd;
  }
  #lezioni .col-xs-12:not(:first-child) {
    margin-top: 30px;
  }

  #come {
    padding: 15px;
    margin-bottom: 0;
  }
  #come .col-xs-12:not(:first-child) {
    margin-top: 30px;
  }

  #motivo {
    padding: 15px;
    background-color: #f2f2cd;
  }
  #motivo img {
    height: 160px;
    padding: 20px;
    margin-top: 30px;
  }


}
